$br3: 0.214285714286rem;
$bc: #172b4d;
$rem5: 0.5rem;
$c91: #091e4214;
* {
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
html {
    margin: 0;
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
        background-color: #ecedf0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #cfd3da;
        border-radius: $br3;
    }
}
body {
    margin: 0;
    overflow-x: hidden;
}
#bg-image-color {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
header {
    display: flex;
    justify-content: space-between;
    padding: $rem5 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 11;
    .logo {
        background-image: url(./assets/icons/logo.gif);
        height: 2rem;
        width: 7rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .header_tools {
        width: 22rem;
        display: flex;
        justify-content: right;
        gap: 2rem;
        max-height: 2.5rem;
        align-items: center;
        button {
            color: white;
            transition-property: background-color, border-color, box-shadow;
            transition: 0.1s;
            transition-timing-function: ease;
            background-color: transparent;
            border-radius: $br3;
            border: none;
            cursor: pointer;
            padding: 0.287rem;
            height: 2rem;
            width: 2rem;
            img {
                height: 1.5rem;
                width: 1.5rem;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
        input {
            border-radius: $br3;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            outline: none;
            padding: $rem5;
            width: 18rem;
            background-image: url(./assets/icons/loupe-white.png);
            background-repeat: no-repeat;
            background-position: 1rem;
            padding-left: 2.5rem;
            color: $bc;
            transition: 0.2s;
            &:hover,
            &:focus {
                background-color: rgba(255, 255, 255, 0.7);
                background-image: url(./assets/icons/loupe.png);
                color: $bc;
                &::placeholder {
                    color: $bc;
                }
            }
            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}
main {
    border-top: 1px solid transparent;
    z-index: 10;
    position: relative;
    .wrapper {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 4rem;
        .list-wrapper {
            width: 18.7rem;
            border-radius: $br3;
            background-color: #ebecf0;
            padding: $rem5;
            .head-box {
                color: $bc;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            #delete-all-button {
                height: 1.5rem;
                width: 1.7rem;
                border: none;
                border-radius: $br3;
                transition: 0.2s;
                cursor: pointer;
                &:hover {
                    background-color: $c91;
                }
                img {
                    height: 1.2rem;
                    width: 1rem;
                }
            }
            > button {
                width: 17rem;
                display: block;
                border-radius: $br3;
                color: $bc;
                font-size: 2rem;
                cursor: pointer;
                background-color: transparent;
                margin: auto;
                border: none;
                transition: 0.2s;
                &:hover {
                    background-color: $c91;
                }
            }
            #description-box {
                margin: auto;
                width: 17rem;
                text-align: center;
                border-radius: $br3;
                margin-top: $rem5;
                background-color: #fff;
                padding: $rem5;
                display: flex;
                justify-content: space-between;
                box-shadow: 0 1px 0 #091e4240;
                display: none;
                #close-form,
                #confirm-form {
                    height: 2rem;
                    width: 2rem;
                    background-color: transparent;
                    border: none;
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: 0.2s;
                    border-radius: $br3;
                    &:hover {
                        background-color: $c91;
                    }
                }
                #point-select {
                    outline: none;
                    appearance: none;
                    border: none;
                    cursor: pointer;
                    background-color: #0079bf;
                }
                #description_title_input {
                    border-radius: $br3;
                    margin-top: $rem5;
                    border: none;
                    padding: $rem5;
                    font-size: 1rem;
                    background-color: transparent;
                    width: 16rem;
                    outline: none;
                    transition: 0.3s;
                    color: $bc;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                        Verdana, sans-serif;
                    &:hover {
                        background-color: $c91;
                    }
                    &::placeholder {
                        color: $bc;
                    }
                }
                #todo-description {
                    border-radius: $br3;
                    padding: $rem5;
                    border: none;
                    width: 16rem;
                    min-height: 9rem;
                    resize: none;
                    color: $bc;
                    font-size: 1rem;
                    background-color: transparent;
                    outline: none;
                    overflow-y: hidden;
                    transition: 0.3s;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                        Verdana, sans-serif;
                    &:hover {
                        background-color: $c91;
                    }
                    &::placeholder {
                        color: $bc;
                    }
                }
                #user-select {
                    border-color: transparent;
                    appearance: none;
                    width: 11rem;
                    outline: none;
                    cursor: pointer;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                        Verdana, sans-serif;
                    option {
                        background-color: white;
                        color: black;
                    }
                }
            }
            .user {
                border-radius: $br3;
                padding: $br3 $rem5;
                background-color: #d6ede2;
                color: #13854e;
                font-size: 0.83rem;
                display: inline;
                text-align: center;
            }
            .point {
                width: 2.5rem;
                border-radius: 0.25rem;
                height: $rem5;
                display: block;
            }
            .footer-box {
                min-height: 4rem;
                border-radius: $br3;
                width: 17rem;
                margin: $rem5 auto 0 auto;
                padding: $rem5;
                border: 0.2rem dashed transparent;
                transition: 0.2s;
                &:hover {
                    border-color: $c91;
                }
            }
            .newCard {
                box-shadow: 0 1px 0 #091e4240;
                background-color: #fff;
                padding: $rem5;
                border-radius: $br3;
                margin-bottom: 0.5rem;
                .card-header {
                    display: flex;
                    justify-content: space-between;
                    .title-description {
                        overflow-wrap: break-word;
                        width: 11rem;
                        text-align: left;
                        padding: 0.5rem;
                    }
                    .title-header-buttons {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .button {
                            border: none;
                            background-color: white;
                            cursor: pointer;
                            font-size: 1.5rem;
                            border-radius: $br3;
                            height: 2rem;
                            width: 2rem;
                            transition: 0.2s;
                            &:hover {
                                background-color: $c91;
                            }
                        }
                    }
                }
                .todo-value {
                    padding: 0.5rem;
                    width: 15rem;
                    height: 7rem;
                    font-size: 1rem;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }
                .card-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .card-user,
                    .card-date {
                        border-radius: $br3;
                        padding: .4rem;
                        font-size: 0.8rem;
                        display: inline;
                        text-align: center;
                        color: #13854e;
                        background-color: #d6ede2;
                    }
                    .card-date {
                        color: #2d86ba;
                        background-color: #ceecfd;
                    }
                }
            }
        }
    }
}
#quick-card-editor {
    background: #0009;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    display: none;
    #quick-card-editor-close-card {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
    #quick-card-editor-close-icon {
        color: #fff9;
        padding: 0.5rem;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: 0.15s;
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        cursor: pointer;
        z-index: 99;
        &::before {
            content: "\2716";
        }
    }
    #quick-card-editor-card {
        position: absolute;
        #quick-card-newCard {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .quick-card-title {
                border: none;
                padding: 0.5rem;
                font-size: 1rem;
                width: 16rem;
                outline: none;
                cursor: pointer;
                border-radius: $br3;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                    Verdana, sans-serif;
            }
            .quick-card-text {
                padding: 0.5rem;
                border: none;
                width: 16rem;
                height: 15rem;
                resize: none;
                outline: none;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                font-size: 1rem;
                border-radius: $br3;
                cursor: pointer;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                    Verdana, sans-serif;
                &::-webkit-scrollbar {
                    width: 0.5rem;
                }
                &::-webkit-scrollbar-track {
                    background-color: #ecedf0;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #cfd3da;
                    border-radius: $br3;
                }
            }
            #quick-card-point {
                width: 2.5rem;
                border-radius: 0.25rem;
                height: $rem5;
                display: block;
                outline: none;
                appearance: none;
                border: none;
                cursor: pointer;
            }
            .card-footer {
                display: flex;
                justify-content: space-between;
                #quick-card-user,
                #quick-card-date {
                    border-radius: $br3;
                    padding: 0.2rem 0.5rem;
                    font-size: 0.8rem;
                    color: #2d86ba;
                    background-color: #ceecfd;
                }
                #quick-card-user {
                    color: #13854e;
                    background-color: #d6ede2;
                    border-color: transparent;
                    appearance: none;
                    text-align: center;
                    outline: none;
                    cursor: pointer;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                        Verdana, sans-serif;
                    & option {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
        #card-editor-button-confirm {
            background-color: #0079bf;
            border: none;
            box-shadow: none;
            color: #fff;
            padding: 0.5rem 1.5rem;
            font-size: 1rem;
            border-radius: $br3;
            transition: 0.2s;
            margin-top: 0.5rem;
            cursor: pointer;
            &:hover {
                background-color: #2d86ba;
            }
        }
    }
}
.none {
    display: none;
}

.block {
    display: block;
}

#board-menu-wrapper {
    width: 20rem;
    transform: translateX(20rem);
    box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
    background-color: #f4f5f7;
    transition-duration: 0.1s;
    transition-property: transform, width;
    transition-timing-function: ease-in;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 77;
    overflow: hidden;
    color: $bc;
    hr {
        background-color: #091e4221;
        border: 0;
        height: 0.01rem;
        margin: auto;
        padding: 0;
        width: 90%;
    }
    .board-menu-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 3rem;
        padding: 0.5rem;
        button {
            width: 2rem;
            cursor: pointer;
            border-radius: $br3;
            color: $bc;
            font-size: 1.3rem;
            background-color: transparent;
            border: none;
            transition: 0.2s;
            &:hover {
                background-color: $c91;
            }
        }
    }
    .board-menu-list {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        .small-box {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 0.5rem;
            height: 6rem;
            width: 8.5rem;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
        #board-menu-box {
            display: flex;
            justify-content: center;
            gap: 30px;
            align-items: center;
            padding: 1rem;
            border-radius: $br3;
            transition: 0.2s;
            cursor: pointer;
            #mini-display-bg {
                height: 1.5rem;
                width: 1.5rem;
                border-radius: $br3;
                display: inline-block;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            p {
                margin: 0;
            }
            &:hover {
                background-color: #091e4214;
            }
        }
        #background-scroll-box,
        #background-preview-scroll-box {
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            height: 9rem;
            gap: 1.5rem;
            transition-duration: 0.1s;
            transition-property: transform, width;
            transition-timing-function: ease-in;
            transform: translateX(20rem);
            .background-image-box,
            .background-color-box {
                cursor: pointer;
                height: 10rem;
                width: 12rem;
                border-radius: $br3;
                text-align: center;
                #background-color-small-box {
                    background-image: url(../assets/images/color-bg.jpg);
                    &:hover {
                        opacity: 0.8;
                    }
                }
                #background-image-small-box {
                    background-image: url(../assets/images/image-bg.jpg);
                    &:hover {
                        opacity: 0.8;
                    }
                }
                p {
                    color: $bc;
                    margin: 0;
                }
            }
        }
        #background-preview-scroll-box {
            align-items: flex-end;
            flex-direction: column;
            height: 20rem;
            gap: 0;
            .bg-scroll-box-head {
                width: 18rem;
                #bg-scroll-box-head_image-box {
                    margin: auto;
                    width: 13rem;
                    height: 8rem;
                    border-radius: $br3;
                    padding: 12px 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    img {
                        margin: auto;
                        display: block;
                    }
                }
            }
        }
        #bg-scroll-box-purpose {
            padding-top: 1rem;
            height: 11rem;
            p {
                margin: 0;
            }
            #background-images-purpose {
                padding-top: 0.5rem;
                display: flex;
                gap: 0.5rem;
                .image-purpose-box {
                    height: 3rem;
                    width: 4rem;
                    border-radius: $br3;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transition: 0.2s;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            #background-colors-purpose {
                padding-top: 0.5rem;
                display: flex;
                gap: 0.5rem;
                #bg-work-place-colors-purpose {
                    display: flex;
                    gap: 0.5rem;
                    .color-purpose-box {
                        height: 3rem;
                        width: 4rem;
                        border-radius: $br3;
                        cursor: pointer;
                        transition: 0.2s;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
            #three-dots {
                height: 3rem;
                width: 4rem;
                border-radius: $br3;
                cursor: pointer;
                transition: 0.2s;
                background-color: rgba(9, 30, 66, 0.04);
                align-items: center;
                background-position: center center;
                background-size: cover;
                display: flex;
                justify-content: center;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
        #background-colors-scroll-box,
        #background-images-scroll-box {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: center;
            transition-duration: 0.1s;
            transition-property: transform, width;
            transition-timing-function: ease-in;
            transform: translateX(20rem);
            resize: none;
            outline: none;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
        #background-images-scroll-box {
            max-height: 57rem;
            &::-webkit-scrollbar {
                width: 0.5rem;
            }
            &::-webkit-scrollbar-track {
                background-color: #ecedf0;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #cfd3da;
                border-radius: $br3;
            }
        }
    }
}
.yellow {
    background-color: #f2d600;
}

.red {
    background-color: #eb5a46;
}

.blue {
    background-color: #0079bf;
}

.green {
    background-color: #61bd4f;
}
.purple {
    background-color: #89609e;
}
.pink {
    background-color: #cd5a91;
}
