/* стили */
* {
    box-sizing: border-box;
}
html,
body,
p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    font-size: 15px;
    margin: 0;
}

main {
    margin-top: 15px;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.list-wrapper {
    width: 300px;
    min-height: 100px;
}

.head-box {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#add-todo-button {
    width: 300px;
    border: 1px solid lightgrey;
    padding: 7px;
    border-radius: 10px;
    color: #5e6c84;
    font-size: 30px;
    background-color: transparent;
    margin-top: 10px;
}

#description-box {
    margin: auto;
    width: 300px;
    border: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: -1px;
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    display: none;
}

#close-form,
#confirm-form {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

#delete-all-button {
    background-image: url(./assets/icons/delete.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    border: none;
    background-color: white;
}

.button {
    padding: 2px 13px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

#edit-button {
    background-image: url(./assets/icons/edit.png);
    background-repeat: no-repeat;
    background-position: center;
}
.newCard {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 #091e4240;
    max-width: 300px;
    min-height: 20px;
    margin: 8px auto 0 auto;
}

#quick-card-newCard {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 #091e4240;
    max-width: 300px;
    min-height: 150px;
    margin: 8px auto;
}

.card-header,
.card-footer {
    display: flex;
    justify-content: space-between;
}

.todo-value {
    padding: 5px;
    text-align: left;
    overflow-wrap: break-word;
}

.title-description {
    overflow-wrap: break-word;
    width: 200px;
    text-align: left;
    padding: 5px;
}

#quick-card-editor {
    background: #0009;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    display: none;
}

#quick-card-editor-close-card {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#quick-card-editor-close-icon {
    color: #fff9;
    padding: 9px;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.15s;
    width: 50px;
    height: 50px;
    font-size: 24px;
}

#quick-card-editor-close-icon:before {
    content: "\2716";
}

#quick-card-editor-card {
    position: absolute;
}

#card-editor-button-confirm {
    background-color: #0079bf;
    border: none;
    box-shadow: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}

#card-editor-button-confirm:hover {
    background-color: #2d86ba;
}
.quick-card-title,
#title-input {
    border: none;
    padding: 5px;
    font-size: 15px;
    width: 280px;
    outline: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.quick-card-text,
#todo-description {
    padding: 5px;
    border: none;
    width: 280px;
    min-height: 160px;
    resize: none;
    height: auto;
    font-size: 15px;
    outline: none;
    overflow-y: hidden;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

#user,
#date,
#quick-card-user,
#quick-card-date,
#user-select {
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
    background-color: #d6ede2;
    color: #13854e;
}
#user,
#quick-card-user,
#user-select {
    color: #2d86ba;
    background-color: #ceecfd;
}
.title-header-buttons {
    display: flex;
    justify-content: space-around;
}
#user-select,#quick-card-user {
    border-color: transparent;
    appearance: none;
    text-align: center;
    font-size: 12px;
    width: 120px;
    outline: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

option{
    background-color: white;
    color: black;
}